.mHisf {
  background: #eee !important;
  font-size: 1rem !important;
  font-weight: 501 !important;
  text-transform: uppercase !important;
}



.action li{
  background: #daddda4a;
  color: #000 !important;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c8c8c8;
}


.border-slate-200 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(1 4 8 / 30%) !important;
}


.modal-open {
  background-color: rgba(0, 0, 0, 0.5); /* Change the background color as per your requirement */
}

.modal-bg{
  background-color: #8f8a84;
  opacity: 95%;
}